body {
  font-family: Arial;
  background-color: #f4f4f4;
  margin: 0;
}
h2 {
  color: blue;
}

p {
  font-size: 18px;
}
nav {
  background-color: black;
  padding: 20px;

  display: flex;
  gap: 20px;
  justify-content: center;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

div {
  text-align: center;
  margin-top: 40px;
}

button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
